body{
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #222;
}
.bg{
  width: 100%;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}
input[type= text]{
  color:pink;
  width: 800px;
  height: 30px;
  margin-top: 28px;
  border-radius: 10px;
  border-color: orange;

}

nav {

  margin: 30px;
  margin-right: 200px;
  text-align:right;
  margin-top: 10px;

}
  a:hover{
  background-color: black;
  color:orange;
  text-overflow: 30px;
  border-radius: 4px;
}
nav > a {

  color: yellow;
  margin-top:100px; 
  margin-right: 100px;
}


.logo {
  font-size: 30px;
  color: orange;
  float: left;
  margin-top: 0;
  margin-left: 60px;
}
main{
  position: absolute;
  margin: 0;
  display: block;
  background-color:;
  text-align: center;
  width: 100%;
}
main > p{
  color: green;
  font-size: 40px;
  margin-top: 14%;

}
